*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 15px;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

#profile {
    text-align: center;
    width: 240px;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    color: white;
    margin-bottom: 10px;
    margin-top: 0px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: 16px;
}

#buttons{
    text-align: center;
    width: 400px;
    margin: 30px auto 30px;
}

#linkedin{
    width: 72px;
    margin-right: 80px;
}

#github{
    width: 72px;
}

#resume{
    width: 72px;
}

#contact{
    margin-top: 40px;
    width: 380px;
    margin: auto;
    font-size: 15px;
}

#email{
    padding: 10px;
    margin: 5px;
}

#mail{
    width: 24px;
    height: 20px;
}

#adress{
    padding: 15px;
    padding-bottom: 5px;
}

#phonenumber{
    padding: 10px;
    margin: -10px;
}

#phone{
    width: 24px;
    height: 20px;
}

#number{
    padding: 15px;
}
